test/

.config/nvim/*.log
.config/nvim/nvim-pack-lock.json

.config/tmux/plugins/

.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/.zshenv

.config/claude/*
!.config/claude/settings.json
!.config/claude/keybindings.json
!.config/claude/statusline.sh
!.config/claude/themes/
!.config/claude/themes/**

**/.DS_Store
